<ion-content>

  <ion-grid class="mt-5">
    <ion-row>
      <ion-col>
        <button type="button" class="btn btn-dark position-relative" [routerLink]="['/login']">
          <ion-icon name="person-sharp"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="7" class="text-center">2</ion-col>
      <ion-col><button type="button" class="btn btn-dark position-relative" [routerLink]="['/carrito']">
          <ion-icon name="cart-sharp"></ion-icon><span
            class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span
              class="visually-hidden">unread messages</span></span>
        </button></ion-col>
    </ion-row>
  </ion-grid>

  <div class="contenedor">

    <h3>Productos</h3>

    <div class="productos">

      <app-lista-producto></app-lista-producto>

    </div>


  </div>

</ion-content>