<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor" *ngIf="productoActivo">

    <h5 class="card-title text-center mb-2">{{productoActivo.nombre | uppercase}}</h5>

    <div class="text-center mb-2">
      <img [src]="productoActivo.foto" class="card-img-top rounded shadow" alt="...">
    </div>

    <div class="card shadow mb-3" *ngIf="productoActivo">
      <div class="card-body">

        <div class="text-center mb-2">
          <ion-label>
            <ion-chip [color]="productoActivo.stock<15?'danger':'primary'">Stock actual : {{productoActivo.stock}}
            </ion-chip>
            <ion-chip color="dark" [outline]="true">{{productoActivo.precioVenta | currency:'CLP'}}</ion-chip>
          </ion-label>
        </div>

        <p class="card-text">{{productoActivo.descripcion}}</p>

        <p class="card-text">{{productoActivo.descripcion}}</p>
        <p class="card-text">{{productoActivo.categoria}}</p>
        <p class="card-text"> {{productoActivo.marca}}</p>
        <p *ngIf="!productoActivo.descuento; then sindcto else condcto">
          dcto: {{productoActivo.porcDecto}}
        </p>
        <ng-template #condcto>
          dcto: {{productoActivo.porcDecto}}
        </ng-template>
        <ng-template #sindcto>
          <p class="card-text">
            Sin dcto
          </p>
        </ng-template>
        <p class="card-text">
          Modalidad de venta: {{productoActivo.modalidadVenta}}
        </p>

      </div>

    </div>
    <div class="d-grid gap-2">
    </div>
  </div>

</ion-content>