<div class="carta position-relative shadow" *ngFor="let pro of productos">
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">{{pro.stock}}<span
      class="visually-hidden">unread messages</span></span>
  <div class="row">

    <div class="col-5">
      <div class="img">
        <img [src]="pro.foto" class="img" alt="...">
      </div>
    </div>

    <div class="col-7">
      <div class="nombre">
        <h5>{{pro.nombre}}</h5>
      </div>
      <div class="contenido">
        <div class="text-muted">
          ${{pro.precioVenta}}
        </div>
      </div>
      <div class="position-absolute bottom-0 end-0 botones">
        <button type="button" class="btn btn-dark btn-sm" [routerLink]="['detalle',pro.id]">Detalles</button>

      </div>
    </div>



  </div>

</div>


<!-- Infinite Scroll -->
<ion-infinite-scroll (ionInfinite)="cargarMasDatos()">
  <ion-infinite-scroll-content loadingText="Cargando productos ...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>