<div class="card mb-3 shadow" *ngFor="let pro of productos">
  <img [src]="pro.foto" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">{{pro.nombre | uppercase}}</h5>

    <p class="card-text">{{pro.descripcion}}
    </p>

    <div class="text-center mb-2">
      <ion-label>
        <ion-chip [color]="pro.stock<15?'danger':'primary'">Stock actual : {{pro.stock}}</ion-chip>
        <ion-chip color="success" [outline]="true">{{pro.precioVenta | currency:'CLP'}}</ion-chip>
      </ion-label>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-dark" type="button" [routerLink]="['detalle', pro.id]">Ver detalles</button>
    </div>

  </div>
</div>


<!-- Infinite Scroll -->
<ion-infinite-scroll (ionInfinite)="cargarMasDatos()">
  <ion-infinite-scroll-content loadingText="Cargando mas datos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>