ion-content {
    --ion-text-color: black;
}


.contenedor {

    margin: 40px 10px 10px 10px
}

.card-body h5,
.card-body p {
    margin-top: 2px;
    color: black;
}

.card {
    border: none;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}